.a{
    text-align:center;
    padding: 10px;
    margin: 25px;
    background-color: aquamarine;
    width:10px;
    height:10px;
    border:2px solid black;
}
.a:hover{
    background-color: brown;

}